body {
    background-image: radial-gradient(circle, #d4896a, #d88688, #cd89a5, #b791b9, #9f9ac1, #a7a1c3, #afa9c6, #b7b0c8, #d2bdcc, #e4cdd1, #f0dfdc, #f9f2ec);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat';
    text-align: center;
}

.container-fluid {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pfp {
    border-radius: 50%;
    height: 30vh;
    width: 30vh;
    border: 5px solid black;
}

.name {
    color: black;
    font-size: 50px;
    font-weight: 790;
    letter-spacing: 4px;
    margin-top: 10px;
}

#biography {
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur(20.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 60%;
    color: black;
    font-size: 22;
    margin-top: 30px;
    text-align: center;
}

.facts {
    margin-top: 5px;
    font-weight: 700;
    letter-spacing: 1px;
}

.contact {
    text-align: center;
    font-weight: 790;
    letter-spacing: 4px;
}

#socials ul {
    list-style: none;
    margin: 0;
    padding-left: 22;
    display: flex;
}

#socials li {
    position: relative;
  }
  
#socials li + li {
    margin-left: 40px;
  }

#socials a, #socials a:focus {
    padding: 15;
    font-size: 18;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#socials a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 1.5px;
    left: 36;
    background-color: #D11D27;
    visibility: hidden;
    transition: 0.3s ease-in-out 0s;
  }

  #socials a:hover:before, #socials li:hover > a:before, #socials .active:before {
    visibility: visible;
    width: 30px;
  }
  
#socials a:hover, #socials .active, #socials .active:focus, #socials li:hover > a {
    color: rgb(95, 95, 84);
}
.extra {
    text-align: center;
    font-weight: 790;
}
.cp-text {
    text-align: center;
    font-weight: 500;
}
@media only screen and (max-width: 900px) {
    .name {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .pfp {
        margin-top: 30px;
    }
}